body {
    
    font-family: 'Arial', sans-serif;
  }
.color{
    background: linear-gradient(to right,lightblue, white );
}
.box {
  --mask:
    radial-gradient(36.62px at 50% calc(100% - 51.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(36.62px at 50% calc(100% + 21.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.col {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.float-left {
  margin-right: 10px; /* Adjust the margin as needed */
}

.content-wrapper {
  flex-grow: 1; /* Allow the content to take up the remaining space */
}


  